<div class="chat-container">
  <div class="chat-card">
    <div class="chat-header">
      <h5>Chat</h5>
    </div>

    <div class="chat-body" #chatContainer>
    
    </div>

    <div class="chat-footer">
      <input type="text" [(ngModel)]="textoMensagem"
             placeholder="Digite sua mensagem..."
             (keyup.enter)="clickEnviar()" />
      <button type="button" (click)="clickEnviar()">Enviar</button>
    </div>
  </div>

  <div #suaMensagem class="mensagem sua d-none">
    <div class="msg">Sua mensagem</div>
    <span class="autor">Você</span>
  </div>

  <div #userMensagem class="mensagem outro d-none">
    <span class="autor">User 1</span>
    <div class="msg">Mensagem do usuário</div>
  </div>
</div>
